.page-info {
  background-color: $page-info-background;
  padding: 60px 0px;
}
.footer-wrapper {
  display: flex;
}
.info-container__list {
  list-style-type: none;
  text-decoration: none;
  color: $info-items;
  font-size: 14px;
  font-style: normal;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.info-container__item {
  margin-bottom: 9px;
  &:last-child {
    margin: 0;
  }
}
.info-container__map {
  text-decoration: none;
  color: $info-map;
  font-size: 14px;
  font-style: normal;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $navigation-items-hover;
  }
}
.info-container__link {
  list-style-type: none;
  text-decoration: none;
  color: $info-items;
  font-size: 14px;
  font-style: normal;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $navigation-items-hover;
  }
}
.info-icons {
  margin-left: 70px;
  padding-top: 12px;
}
.calling {
  color: $page-background;
  font-size: 14px;
  font-weight: 700;
  line-height: calc(16 / 14);
}
.info-icons__list {
  list-style-type: none;
  margin-top: 20px;
  @extend %flex-center;
}
.info-icons__socials {
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}
.socials__link {
  width: 44px;
  height: 44px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: $page-background;
  transition-property: background-color, fill;
  @extend %transition;
  &:hover,
  &:focus {
    background-color: $navigation-items-hover;
    fill: $page-background;
  }
}
.socials__icon {
  .socials__link:hover > & {
    fill: $page-background;
  }
}
.footer-form__list {
  margin-left: 93px;
  padding-top: 23px;
}
.footer-form__subscribe {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  color: $page-background;
  text-transform: uppercase;
}
.footer-form__wrapper {
  display: flex;
  align-items: center;
}
.footer-form__mail {
  display: block;
  width: 358px;
  height: 50px;
  border-radius: 4px;
  margin-right: 12px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  padding-left: 16px;
  color: #ffffff;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &::placeholder {
    line-height: calc(20 / 16);
    transition-property: color;
    @extend %transition;
  }
  &:focus::placeholder {
    color: $decoration-web;
  }
  &:focus {
    outline: none;
    border: 1px solid $decoration-web;
  }
}
.form-btn {
  background-color: $decoration-web;
  color: $page-background;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $service-btn-background-hf;
  }
}
.footer-form__form-btn {
  display: block;
  padding: 10px 28px;
  border-radius: 4px;
  border: none;
}
.form-btn__wrapper {
  display: flex;
  align-items: center;
}
.form-btn__title {
  font-weight: 700;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  margin-right: 10px;
}
